.app {

}

.heading__navbar {
  height: var(--height-navbar);
  border: none;
  border-radius: 27px;
  position: relative;
  top: 0;
  padding: 20px;
}

.navbar-list {
  line-height: 3.6rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-list__item {
  padding: 0 16px;
}

.list-item__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 700;
}

